:root {
    --main-title-color: #FFFFFF;
    --secondary-title-color: #212121; 
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
}
    
body {
    font-family: "Roboto", sans-serif; 
    color: #212121;
}

/* ---------------Homework 3---------------- */
p,
h1,
h2,
h3,
h4,
h5, 
h6,
ul  {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.section {
    padding-top: 94;
    padding-bottom: 94;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* .header-logo {
    margin: 93px;
} */
/* .header {
    margin-left: auto;
} */
.header-mail {
    margin-right: 50px;
}
/* .header-link:not(:last-child) {
    margin-right: 50;
} */
.hero-button {
    display: inline-block;
    width: 200px;
    height: 50px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #000000;
}

.features-pre-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 94px;
    margin-bottom: 94px;
    /* margin-left: -10px;
    margin-top: -10px; */
}
/* .features-list {
    margin-left: 10px;
    margin-top: 10px;
    flex-basis: calc((100% - 30px)/4);
} */
.features-description {

}
.what-we-do  {
    display: flex;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
}

.header-list {
    display: flex;
    /* margin-right: 331px; */
}
.header-navigation {
    display: flex;
}

.header-logo {
    font-family: Raleway;
    font-style: normal;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin-right: 93px;
    margin-left: auto;

}
.accent-logo {
    color: var(--accent-color); 
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    
} 
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
.header-link:hover,
.header-link:focus {
    color: var (--accent-color);
}
/* ---------------------Auth nav------------------ */
.main-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    margin-right: 50px;
}
.header-mail:hover,
.header-mail:focus
{
    color: #2196F3;
}
.header-tel:hover,
.header-tel:focus
{
    color: #2196F3;
}
.header-tel  {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
    text-decoration: none;
}
.auth-nav{
    display: flex;
    justify-content: flex-end;
}
/* ------------------------Hero------------------- */
.hero {
    background-color: #2F303A;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.hero-text {
    display: inline-block;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
    margin-bottom: 30;
    /* padding:200px 452px 280px 482px; */
    /* padding-top: 94px; */
    align-items: center;
 
}
.hero-button {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    background-color:#2196F3;
    border: 1px solid #000000;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
}
.hero .container {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    color: #757575;
}
.link:hover {
    color: #2196F3;
}
/* -------------Features-------------- */

.features-list {
    width: 270px;
    
}
.features-pre-list {
    display: flex;
    justify-content: center;
    padding: 0;
}
.features-pre-list:not(:first-child) {
    padding-right: 30px;
}

.features-item {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.features-item::not(:last-child) {
    margin-left: 30;
}
.features-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* -------------------Чем мы занимаемся----------------- */
.what-we-do {
    padding-bottom: 94px;
}
.what-we-do-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50;
}
.team-list {
    justify-content: center;
}
.what-we-do-link {
    text-decoration: none;
    width: 370px;
    margin-top: 50px;
}
.what-we-do-link:not(:last-child) {
    margin-right: 30px;
}
.what-we-do-list {
    list-style: none;
}

/* ------------------Наша команда---------------------------- */
.team {
    background-color: #F5F4FA;
    padding-bottom: 94px;
}
.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding-top: 94px;
    margin-bottom: 50px;
}
.card-box {
    margin: 0;
}
.team-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    align-content: center;
    padding: 0;
    /* margin-left: -30px;
    margin-top: -50px; */
}

.team-link {
    text-decoration: none;
    background-color: #fff;
    width: 270px;
    height: 368px;
    /* margin-left: 30px;
    margin-top: 50px;
    flex-basis: calc ((100% - 120px)/4); */
    border-radius: 0px 0px 4px 4px;
}

.team-link:not(:last-child) {
    margin-right: 30px;
}
.team-name {
    margin-top: 30px;

}
.team-position {
    margin-top: 10px;

}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-position {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;


    /* ------------------Footer------------------ */
}
.footer {
    color: #FFFFFF;
    background-color: #2F303A;
    /* display: block; */
    display: flex;
    flex-direction: column;
    /* padding-left: 215px; */
    /* padding-left: auto; */
    padding-left: 86px;
}

.footer-logo {
    font-family: Raleway;
    font-style: normal;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    padding-top: 94px;
    margin-bottom: 20px;
}
.footer-content {
    flex-grow: 1;
    display: block;
    
}
.footer-address {
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}
.footer-mail {
    margin-bottom: 9px;
}
.footer-mail,
.footer-tel
 {  text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
 }
.footer-tel {
    padding-bottom: 60px;
}
/* --------------PORTFOLIO-------------- */
.portfolio { 
    padding-top: 94px;
}
.header-pf {
    border-bottom: 1px solid #ECECEC;
    top: 0px;
}
.list-pf-button {
    padding: 0;
}
.button {
    background-color: #F5F4FA;
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
}
.list-pf-button {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-pf {
    display: inline-block;
    font-weight: 500;  
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px 6px 22px;
}
.button-pf:not(:last-child) {
    margin-right: 8px;
}
.list-pf {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px; 
    padding: 0px 0px 94px 0px;  
}
.item-pf {
    /* width: 370px; */
    margin-right: 30px;
    margin-top: 30px; 
    flex-basis: calc((100% - 90px)/3);
    border: 1px solid #EEEEEE;
}
.item-pf:nth-child(3n) {
    margin-right: 0;
}

.button-pf:hover,
.button-pf:focus 
{
    background-color: #2196F3;
    color: #FFFFFF;
} 
.portfolio-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    margin-top: 20px;
    margin-bottom: 4px;
}

.portfolio-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 20px;
    }
    .portfolio-title,
    .portfolio-description {
        margin-left: 24px;
    }